@if (transactions()) {
<ul>
  @for (day of sortArrayByDateLocal(transactions()); track $index) {
  <li>
    <h3>Date: {{ day.id }}</h3>
    @for (transaction of day.transactions; track $index) {
    <div class="transaction-card">
      <app-transaction-card
        [transaction]="transaction"
        (click)="onCardClick(day.id, transaction.id)"
      ></app-transaction-card>
    </div>

    }
  </li>
  <mat-divider />
  }
</ul>
} @if (!transactions()) {
<p id="no-transactions">No transactions available</p>
}
